Week 4/Opdracht 1/xsd/diagnoses.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	
	<xs:element name="diagnoses">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="diagnose" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>			
							<xs:element name="omschrijving" type="xs:string"/>			
							<xs:element name="klantBsn" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="code" type="xs:integer"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>