Week 4/Opdracht 1/xsd/roosters.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
		<xs:element name="roosters">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rooster" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="start" type="xs:dateTime"/>
							<xs:element name="eind" type="xs:dateTime"/>
							<xs:element name="fysioId" type="xs:integer"/>
						</xs:sequence>
						<xs:attribute name="id" type="xs:integer"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>